# General modules
django >3.2,<3.3
python-decouple
pillow
djangorestframework

# Third party modules
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt

# Deployment modules

# email third partu modules
django-mail-templated